:root {

    --primary-color: #00B8D4; /* Turquoise */
    --secondary-color: #0288D1; /* Deep Blue */
    --accent-color: #80DEEA;   /* Light Cyan */
    --background-color: #E1F5FE; /* Light Blue */
    --text-color: #01579B;     /* Dark Blue */

}
